[submodule "zsh-custom/plugins/zsh-autosuggestions"]
	path = zsh-custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh-custom/plugins/zsh-syntax-highlighting"]
	path = zsh-custom/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "/Users/paul/.dotfiles/zsh-custom/plugins/git-open"]
	path = /Users/paul/.dotfiles/zsh-custom/plugins/git-open
	url = https://github.com/paulirish/git-open.git
[submodule "zsh-custom/themes/powerlevel10k"]
	path = zsh-custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh-custom/fzf-tab"]
	path = zsh-custom/fzf-tab
	url = git@github.com:Aloxaf/fzf-tab.git
